@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

body {
    background-color: #282c34;
}
.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}
.heroes-container {
  width: 1200px;
  margin:auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.hero-content {
  background: white;
  color: #282C33;
  border-radius: 10px;
  padding: 20px;
}
.slider {
  margin: 0 auto;
  width:1000px;
}

.hero-card {
  width: 200px;
  height: 300px;
  margin: 5px;
}
h5 {
  color: #282C33;
}
.hero-image-container {
  border: none;
  margin:auto;
  width: 100px;
  height:100px;
}
.hero-image {
  width: 100%;
}
